.benifits {
	margin-top: 50px;
}

.membership-form {
	margin: 0px;
}

.membership-form .mem-form {
	padding: 20px;
	border: 1px solid;
	border-radius: 50px;
}

.membership-display-4 {
	font-size: 2.0rem;
}

@media only screen and (max-width:768px) {
	.site-blocks-cover h1 {
		font-size: 2.8rem;
		word-break: beak-word;
	}

}
