/* Base */
body {
  line-height: 1.7;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  text-decoration: none;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.bg-dark {
  background: #13171d !important;
}

.line-height-sm {
  line-height: 1.3;
}

.line-height-xs {
  line-height: 1;
}

.site-wrap:before {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.btn {
  position: relative;
  top: 0;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-secondary {
  background-color: #e6e7e9;
  border-color: #e6e7e9;
  color: #000;
}

.btn.btn-sm {
  font-size: 0.9rem;
}

.btn.btn-primary {
  color: #fff;
}

.btn.btn-outline-primary:hover {
  color: #fff !important;
}

.btn.btn-black {
  background: #000 !important;
  color: #fff;
}

.btn.btn-black:hover {
  background: #333333 !important;
}

.btn.btn-white.btn-outline-white {
  border-color: #fff;
  background: transparent;
  color: #fff;
}

.btn.btn-white.btn-outline-white:hover {
  background: #fff;
  color: #000;
}

.bg-black {
  background: #000;
}

.form-control {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0;
}

.form-control:active,
.form-control:focus {
  border-color: #cea15a;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.site-section {
  padding: 2em 0;
}

/*mission page*/
.right-text-class {
  text-align: right;
}

.advisory-board-section {
  padding: 3em 0;
}

/*speaker*/
.speaker-card {
  padding: 1.25rem;
}

@media only screen and (max-width: 768px) {
  .speaker-img-div {
    width: 90% !important;
  }
}

@media only screen and (max-width: 767px) and (min-width: 424px) {
  .speaker-img-div {
    width: 50% !important;
  }
}

@media only screen and (max-width: 425px) and (min-width: 374px) {
  .speaker-img-div {
    width: 60% !important;
  }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
  .speaker-img-div {
    width: 70% !important;
  }
}

/*index*/

/*banner*/
.home-banner {
  width: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  height: calc(100vh);
}

.home-page-banner {
  padding: 120px 0 !important;
}

.home-page-banner h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.conference-banner {
  padding: 70px 0 20px;
}

.conference-BImg {
  width: 100%;
  max-width: 100%;
  height: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

.conference-BImg img {
  width: 100%;
  max-width: 100%;
}

.lang-change-class {
  background-color: #eea92c;
  border-radius: 7px;
  padding: 6px !important;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lang-change-class a.lang-anchor {
  padding: 0 !important;
}

/*index*/
.google-reg {
  max-width: 100%; /*height: 400px;*/
  width: 100%;
}

.google-reg img {
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: -webkit-fill-available;
}

/*.lang-change-class a {
  padding: 0 !important;
}*/
@media (min-width: 768px) {
  .site-section {
    padding: 4em 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.bg-image {
  background-size: cover;
  background-repeat: no-rpeeat;
  overflow: hidden;
  background-position: center center;
}

.bg-image.center {
  background-position: top center;
}

.bg-image.fixed {
  background-position: fixed !important;
}

.bg-image.overlay,
.bg-image.overlay-primary,
.bg-image.overlay-info,
.bg-image.overlay-success,
.bg-image.overlay-warning {
  position: relative;
}

.bg-image.overlay:before,
.bg-image.overlay-primary:before,
.bg-image.overlay-info:before,
.bg-image.overlay-success:before,
.bg-image.overlay-warning:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.bg-image.overlay:before {
  background: rgba(0, 0, 0, 0.4);
}

.bg-image.overlay-primary:before {
  background: rgba(206, 161, 90, 0.9);
}

.bg-image.overlay-info:before {
  background: rgba(83, 205, 226, 0.9);
}

.bg-image.overlay-success:before {
  background: rgba(124, 189, 30, 0.9);
}

.bg-image.overlay-success:before {
  background: rgba(238, 198, 10, 0.9);
}

.membership-display-4 {
  font-size: 2.5rem; /*font-weight: 600;*/
}

.membership-display-4 span {
  font-weight: 600;
}

.membership-p {
  font-size: 1.8rem;
}

@media (max-width: 767.98px) {
  .display-3,
  .display-2,
  .display-4 {
    font-size: 2rem !important;
  }
}

@media (max-width: 991.98px) {
  .bg-md-height {
    height: 300px;
  }
}

@media (max-width: 767.98px) {
  .bg-sm-height {
    height: 300px;
  }
}

.text-gray-100 {
  color: #f8f9fa !important;
}

.text-gray-200 {
  color: #e9ecef !important;
}

.text-gray-300 {
  color: #dee2e6 !important;
}

.text-gray-400 {
  color: #ced4da !important;
}

.text-gray-500 {
  color: #adb5bd !important;
}

.text-gray-600 {
  color: #6c757d !important;
}

.text-gray-700 {
  color: #495057 !important;
}

.text-gray-800 {
  color: #343a40 !important;
}

.text-gray-900 {
  color: #212529 !important;
}

.row-wrap {
  margin-left: 15px;
  margin-right: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.row-items {
  height: calc(50% - 15px);
  margin-bottom: 15px;
}

.row-items.last {
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .responsive-md-height {
    height: 500px !important;
    margin-bottom: 15px;
  }
}

.site-footer {
  /*padding: 4em 0;*/
  padding: 4em 0 0;
}

@media (min-width: 768px) {
  .site-footer {
    /*padding: 7em 0;*/
    padding: 4em 0 0;
  }
}

.site-footer p {
  color: #737373;
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color: #fff;
}

.site-footer a {
  color: #cea15a;
}

.site-footer a:hover {
  color: #000;
}

.site-footer ul li {
  margin-bottom: 10px;
}

.site-footer .footer-heading {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000;
  position: relative;
  padding-bottom: 15px;
}

.site-footer .footer-heading:before {
  content: "";
  background: #cea15a;
  width: 40px;
  height: 2px;
  position: absolute;
  bottom: 0;
}

/*navabar dropdown*/

/*start Test menu*/
.test-nav {
  padding-right: 0;
}

.dropdown-menu-right {
  margin: -3.8rem 0 0 !important;
}

.submenu-left {
  margin: 0.1rem 0 0 !important;
}

.test-menu li.active a {
  color: #2b90d1 !important;
}

.test-menu a {
  color: #212529 !important;
  letter-spacing: 0.05em;
  transition: 0.3s all ease;
  font-weight: 400;
  font-size: 1.1rem; /* padding: 10px 10px;*/
}

.test-menu a:hover {
  text-decoration: unset !important;
  border: unset;
  color: #2b90d1 !important;
}

.test-menu li.nav-item {
  padding: 10px 10px;
}

.test-menu li.nav-item a.nav-link {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

a.dropdown-item {
  /*color: #212529;*/
  font-size: 1.05em;
}

@media (max-width: 991px) {
  .test-nav {
    display: flex;
    justify-content: flex-end;
  }

  .mobile-view-icon {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 992px) {
  .test-menu .dropdown-menu .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }

  .test-menu .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .test-menu .dropdown-menu li {
    position: relative;
  }

  .test-menu .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .test-menu .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }

  .test-menu .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }

  .test-menu .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

/*end Test menu*/
.dropdown {
  /*position: relative;*/
}

.dropdown-menu {
  margin: -0.07rem 0 0;
}

@media (max-width: 991px) {
  .dropdown-menu {
    width: 100%;
  }

  .site-mobile-menu .site-nav-wrap a {
    white-space: break-spaces;
  }

  .dropdown-level-1:hover .dropdown-level-2 {
    left: 0 !important;
    top: 90px !important;
  }
}

.dropdown-level-2 {
  margin: -0.07rem 0 0; /*top: 10px;*/
}

.dropdown:hover .dropdown-level-1 {
  display: block; /*position: absolute;*/
}

.dropdown-level-1:hover .dropdown-level-2 {
  /*display: block;*/
  display: grid;
  left: -180px;
  top: 0;
}

.ul-first-level {
  display: none;
}

.dropdown-menu.show {
  transform: translate3d(-15px, 47px, 0) !important;
}

/*.navbarDropdown:hover .dropdown-menu {
display: block;
}*/

/* Navbar */
.logo {
  width: 100%;
  max-height: -webkit-fill-available;
}

.logo img {
  width: 100%;
  max-width: 100%;
  height: inherit;
  max-height: inherit;
}

.site-navbar-top .site-logo {
  font-size: 2rem;
}

.site-navbar-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
}

.site-navbar-wrap a {
  color: #000;
}

.site-navbar-wrap .site-navbar-top {
  font-size: 0.8rem;
}

.site-navbar {
  margin-bottom: 0px;
  width: 100%;
  border-bottom: none; /*position: absolute;*/
  z-index: 99;
  background: #fff;
}

.site-navbar .site-logo {
  font-weight: 200;
}

.site-navbar .site-logo a {
  font-weight: 200;
  color: #000;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

.site-navbar .site-navigation .site-menu .active > a {
  /*color: #fff;*/

  /*color: #000;*/
  color: #2b90d1;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 10px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none !important;
  color: #000;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  /*color: #fff;*/
  color: #2b90d1;
}

.site-navbar .site-navigation .site-menu > li:last-child {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu > li:last-child > a {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 10px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #000 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 5px 20px;
  display: block;
}

.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  color: #cea15a;
}

.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}

.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  color: #cea15a;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
  text-align: left;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #cea15a;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active > a {
  color: #cea15a;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 760px !important;
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 1400px) {
  .site-blocks-cover {
    min-height: 1060px !important;
  }
}

.site-blocks-cover.overlay {
  position: relative;
}

.site-blocks-cover.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0; /*background: rgba(0, 0, 0, 0.4);*/
}

.site-blocks-cover,
.site-blocks-cover .row {
  min-height: 600px;
  height: calc(100vh);
}

.site-blocks-cover.inner-page-cover,
.site-blocks-cover.inner-page-cover .row {
  min-height: 600px;
  height: calc(30vh);
}

.site-blocks-cover .sub-text {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.2em;
}

/*banner*/
.banner-div {
  padding-top: 120px;
}

.site-blocks-cover h1 {
  font-weight: 900;
  color: #fff;
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.site-blocks-cover p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
}

.site-blocks-cover .intro-text {
  font-size: 16px;
  line-height: 1.5;
}

.site-blocks-cover.subscribe h2 {
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

.site-blocks-cover.subscribe p {
  font-size: 1rem !important;
  font-weight: 100;
}

/*home 2nd row*/
.wpb-img {
  width: 100%;
}

.wpb-img img {
  width: 100%;
  max-width: 100%;
  height: inherit;
  max-height: inherit;
}

/* home slider*/
.home-slider .carousel-item {
  width: 100%;
  height: 400px;
}

.home-slider .carousel-item img {
  width: 100%;
  max-width: 100%;
  height: inherit;
  max-height: inherit;
  object-fit: contain;
}

.zoom-slider1 {
  height: 400px;
  background-size: cover !important;
  background-position: center !important;
}

/*home services */
.service-2 {
}

.service-2 img {
  width: 100%;
}

/* Judicial */
.btn-primary {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #fff !important;
  border-radius: 0;
}

p.dropcap:first-letter {
  color: #fd7e14;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.blockquote {
  padding: 20px 0;
  position: relative;
}

.blockquote *:last-child {
  margin-bottom: 0;
}

.blockquote:before,
.blockquote:after {
  background: #fd7e14;
  height: 5px;
  width: 40%;
}

.blockquote:before {
  content: "";
  position: absolute;
  top: 0;
}

.blockquote:after {
  content: "";
  position: absolute;
  bottom: 0;
}

.section-2 {
  margin-bottom: 30px;
  background: #cea15a;
  color: #fff;
  font-size: 15px;
}

@media (max-width: 991.98px) {
  .section-2 {
    padding-bottom: 30px;
  }
}

.section-2 .service-1-title {
  padding-top: 30px;
  position: relative;
  padding: 70px 50px;
}

@media (max-width: 991.98px) {
  .section-2 .service-1-title {
    padding: 30px;
  }
}

.section-2 .service-1-title:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 991.98px) {
  .section-2 .service-1-title:after {
    display: none;
  }
}

.section-2 .service-1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 991.98px) {
  .section-2 .service-1 {
    margin-bottom: 30px;
  }
}

.section-2 .service-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 991.98px) {
  .section-2 .service-1:after {
    display: none;
  }
}

.section-2 .service-1 *:last-child {
  margin-bottom: 0;
}

.section-2 .service-1:before {
  content: "";
  position: absolute;
  background: #cea15a;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media (max-width: 991.98px) {
  .section-2 .service-1:before {
    background: rgba(41, 52, 98, 0.7);
  }
}

.section-2 .service-1 .service-1-contents {
  padding: 70px 50px;
  position: relative;
}

@media (max-width: 991.98px) {
  .section-2 .service-1 .service-1-contents {
    padding: 30px;
  }
}

.section-2 .service-1 .service-1-contents p,
.section-2 .service-1 .service-1-contents h2 {
  color: #fff;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.section-2 .service-1 .service-1-contents h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.section-2 .service-1:hover:before {
  background: rgba(41, 52, 98, 0.7);
}

.section-2 .service-1:hover h2,
.section-2 .service-1:hover p {
  color: #fff;
}

.section-2 .service-1 .more {
  color: #fff;
}

.section-2 .wrap-icon {
  margin-bottom: 30px;
  display: block;
}

.section-2 .wrap-icon span {
  font-size: 3rem;
}

.section-title h2 {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.section-title h2:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.section-title.text-center h2:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fd7e14;
}

.more {
  text-transform: uppercase;
}

.service-2 {
  border: 1px solid #efefef;
  padding: 30px;
}

.service-2 .service-2-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}

.service-2 .service-2-icon span {
  font-size: 4rem;
  color: #fd7e14;
  line-height: 0;
}

.service-2 .service-2-contents h3 {
  font-size: 20px;
}

/*home services*/
.home-service {
  padding: 5px;
  height: 210px;
}

.sep img {
  width: 100%;
}

.home-video {
  height: 100%;
  width: 100%;
}

.home-video iframe {
  width: 100%;
  max-width: 100%;
  height: inherit;
  max-height: inherit;
}

.section-1 {
  padding: 0 0 4em;
}

.section-1-about {
  padding: 4em 0 4em;
}

.section-3 {
  padding: 4em 0;
}

.section-4 {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.section-4:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0; /*background: rgba(41, 52, 98, 0.8);*/
  background: rgb(65 63 63 / 80%);
}

.section-4 h2,
.section-4 p {
  color: #fff;
}

.feature-1 .feature-1-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  width: 80px;
  height: 80px;
  position: relative;
  border: 1px solid #cea15a;
}

.feature-1 .feature-1-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 0;
  font-size: 2.5rem;
  color: #cea15a;
}

.feature-1 .feature-1-contents .number,
.feature-1 .feature-1-contents .caption {
  display: block;
}

.feature-1 .feature-1-contents .number {
  font-size: 3rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 10px;
}

.feature-1 .feature-1-contents .caption {
  font-size: 13px;
  text-transform: uppercase;
  color: #cea15a;
}

.person-1 .person-1-contents {
  width: 90%;
  padding: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); /*transform: translateY(-50%);*/
  transform: translateY(-30%);
  background: #cea15a;
  color: #fff;
}

.person-1 .person-1-contents h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.person-1 .person-1-contents .position {
  font-size: 13px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.person-1 .person-1-contents .person-1-social a {
  display: inline-block;
  color: #fff;
  padding: 10px;
}

.person-1 .person-1-contents .person-1-social a:first-child {
  padding-left: 0;
}

.person-1:hover .person-1-contents {
  background: #293462;
}

.section-5 {
  background: #293462;
  color: #fff;
}

.form-request {
  padding: 50px;
  background: #fff;
}

.form-request h2 {
  font-size: 30px;
  color: #cea15a;
  margin-bottom: 30px;
}

.form-request .form-control {
  border: 1px solid #efefef;
}

.form-request .form-control {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.form-request textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-request .btn {
  padding: 15px 30px;
}

.testimony-1 h3 {
  font-size: 1.4rem;
}

.testimony-1 .vcard {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}

.testimony-1 img {
  max-width: none !important;
  width: 100px !important;
  border-radius: 50%;
  height: 100px;
}

.testimony-1 blockquote {
  font-style: italic;
}

.testimonial-slider .owl-dots {
  display: inline-block;
}

.testimonial-slider .owl-dots .owl-dot {
  display: inline-block;
  margin: 5px;
}

.testimonial-slider .owl-dots .owl-dot span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #ccc;
  border-radius: 50%;
}

.testimonial-slider .owl-dots .owl-dot.active span {
  background: #cea15a;
}

.accordion-item {
  font-family: "Oswald", sans-serif;
}

.accordion-item[aria-expanded="true"] {
  color: #cea15a;
}

.block-16 {
  position: relative;
}

.block-16 .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  width: 70px;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.block-16 .play-button > span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}

.block-16 .play-button:hover {
  border: 1px solid white;
}

.block-16 .play-button:hover > span {
  color: #fff;
}

/*sport-log*/
.sport-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sport-logo-BImg {
  width: 100%;
  max-width: 100%;
  height: 150px;
  max-height: 100%;
}

.sport-logo-BImg img {
  /*width: 100%;
  max-width: 100%;*/
  width: 100%;
  max-width: 100%;
  height: inherit;
  max-height: inherit;
  object-fit: scale-down;
}

@media only screen and (max-width: 575px) {
  .sport-logo-BImg {
    margin-bottom: 20px;
  }
}

/*edu-log*/
.edu-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edu-logo-BImg {
  width: 100%;
  max-width: 100%;
  height: 150px;
  max-height: 100%;
}

.edu-logo-BImg img {
  /*width: 100%;
  max-width: 100%;*/
  width: 100%;
  max-width: 100%;
  height: inherit;
  max-height: inherit;
  object-fit: scale-down;
}

@media only screen and (max-width: 575px) {
  .edu-logo-BImg {
    margin-bottom: 20px;
  }
}

.paperTable {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
.paperTable tr,
.paperTable td,
.paperTable th {
  border: 2px solid black;
  padding: 5px 10px;
}

.confrenceTable {
  width: 100%;
  text-align: right;
}
.confrenceTable tr,
.confrenceTable td,
.confrenceTable th {
  border: 2px solid black;
  padding: 5px 10px;
}
